server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        # Публичные эндпоинты аутентификации
        - id: auth-service
          uri: http://localhost:8090
#          uri: lb://auth-service
          predicates:
            - Path=/api/v1/auth/**
          filters:
            - StripPrefix=2
            - name: CircuitBreaker
              args:
                name: authService
                fallbackUri: forward:/fallback/auth

        # Защищенные маршруты для других сервисов
        - id: user-service
          uri: http://localhost:8100
#          uri: lb://user-service
          predicates:
            - Path=/api/v1/user/**
          filters:
            - StripPrefix=2
            - name: AuthenticationFilter
            - name: CircuitBreaker
              args:
                name: userService
                fallbackUri: forward:/fallback/user

# Настройки JWT
jwt:
  secret: ${JWT_SECRET}
  expiration: 3600000 # 1 час

logging:
  level:
    org.springframework: INFO
    ru.binarysimple: DEBUG
    org.springframework.cloud.gateway: DEBUG
    io.jsonwebtoken: DEBUG

## Eureka Discovery
#eureka:
#  client:
#    service-url:
#      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
#    fetch-registry: true
#    register-with-eureka: true
#  instance:
#    hostname: ${HOSTNAME:localhost}
#    prefer-ip-address: true

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

endpoints:
  auth-service: http://localhost:8090
  users-service: http://localhost:8100