server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        # Публичные эндпоинты аутентификации
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**
          filters:
#            - name: AuthenticationFilter
            - name: CircuitBreaker
              args:
                name: authService
                fallbackUri: forward:/fallback/auth
#            - RewritePath=/auth/(?<path>.*), /$\{path}

        # Защищенные маршруты для других сервисов
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user/**
          filters:
            - name: AuthenticationFilter
            - name: CircuitBreaker
              args:
                name: userService
                fallbackUri: forward:/fallback/user
#            - RewritePath=/user/(?<path>.*), /$\{path}

#        - id: order-service
#          uri: lb://order-service
#          predicates:
#            - Path=/api/orders/**
#          filters:
#            - name: AuthenticationFilter
#            - name: CircuitBreaker
#              args:
#                name: orderService
#                fallbackUri: forward:/fallback/order

# Настройки JWT
jwt:
  secret: ${JWT_SECRET:your-secret-key-for-jwt-signing-change-in-production}
  expiration: 3600000 # 1 час

## Eureka Discovery
#eureka:
#  client:
#    service-url:
#      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
#    fetch-registry: true
#    register-with-eureka: true
#  instance:
#    hostname: ${HOSTNAME:localhost}
#    prefer-ip-address: true

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always