apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-config
  labels:
    app: {{ .Chart.Name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-90"
data:
  application-kubernetes.yaml: |
    spring:
      application:
        name: api-gateway
      cloud:
        gateway:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            # Публичные эндпоинты аутентификации
            - id: auth-service
            #  uri: lb://{{ .Values.endpoints.authServiceRelease }}-{{ .Values.endpoints.authServiceHost }}.{{ .Values.endpoints.authServiceSpace }}.svc.cluster.local:{{ .Values.endpoints.authServicePort }}
              uri: http://{{ .Values.endpoints.authServiceRelease }}-{{ .Values.endpoints.authServiceHost }}.{{ .Values.endpoints.authServiceSpace }}.svc.cluster.local:{{ .Values.endpoints.authServicePort }}
              predicates:
                - Path=/api/v1/auth/**
              filters:
                - StripPrefix=2
              #  - name: CircuitBreaker
              #    args:
              #      name: authService
              #      fallbackUri: forward:/fallback/auth
            # Защищенные маршруты для других сервисов
            - id: user-service
            #  uri: lb://{{ .Values.endpoints.usersServiceRelease }}-{{ .Values.endpoints.usersServiceHost }}.{{ .Values.endpoints.usersServiceSpace }}.svc.cluster.local:{{ .Values.endpoints.usersServicePort }}
              uri: http://{{ .Values.endpoints.usersServiceRelease }}-{{ .Values.endpoints.usersServiceHost }}.{{ .Values.endpoints.usersServiceSpace }}.svc.cluster.local:{{ .Values.endpoints.usersServicePort }}
              predicates:
                - Path=/api/v1/user/**
              filters:
                - StripPrefix=2
                - name: AuthenticationFilter
              #  - name: CircuitBreaker
              #    args:
              #      name: userService
              #      fallbackUri: forward:/fallback/user

    logging:
      level:
        org.springframework: INFO
        ru.binarysimple: DEBUG
        org.springframework.cloud.gateway: DEBUG
        io.jsonwebtoken: DEBUG
      
    endpoints:
      users-service: http://{{ .Values.endpoints.usersServiceRelease }}-{{ .Values.endpoints.usersServiceHost }}.{{ .Values.endpoints.usersServiceSpace }}.svc.cluster.local:{{ .Values.endpoints.usersServicePort }}
      auth-service: http://{{ .Values.endpoints.authServiceRelease }}-{{ .Values.endpoints.authServiceHost }}.{{ .Values.endpoints.authServiceSpace }}.svc.cluster.local:{{ .Values.endpoints.authServicePort }}
